<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 130px">Photo</th>
          <th>Info</th>
          <th style="width: 50px">
            <%= link_to "NEW", new_admin_manual_path %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @manuals.each do |manual| %>
          <tr>
            <td><%= image_tag(manual.photo.url(:small), style: "width:100px") %></td>
            <td>
              <%= manual.carrier %><br/>
              <%= manual.make %><br/>
              <%= manual.model %><br/>
              <%= manual.mode %>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_manual_path(manual) %><br />
              <%= link_to 'Delete', admin_manual_path(manual), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
