<div id="filters" style="<%= 'display:none' unless params[:carrier].present? | params[:make].present? %>">
  <ul class="list-inline carriers">
    <li>CARRIERS:</li>
    <% @carriers.each do |carrier| %>
      <li><%= link_to carrier, "?carrier=#{carrier}" %></li>
    <% end %>
  </ul>

  <ul class="list-inline makes">
    <li>AIRCRAFT:</li>
    <% @makes.each do |make| %>
      <li><%= link_to make, "?make=#{make}" %></li>
    <% end %>
  </ul>

  <% if params[:carrier].present? | params[:make].present? %>
    <p>
      Filtering
      <% if params[:carrier].present? %>
        Carrier: <em><%= params[:carrier] %></em>
      <% else %>
        Aircraft: <em><%= params[:make] %></em>
      <% end %>
    </p>
  <% end %>
</div>
