<%= form_with(model: manual, local: true) do |form| %>
  <% if manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manual.errors.count, "error") %> prohibited this manual from being saved:</h2>

      <ul>
      <% manual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carrier %>
    <%= form.text_field :carrier, id: :manual_carrier %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :manual_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :manual_model %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :manual_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
