<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for [manual] do |form| %>

      <div class="form-group">
        <%= form.label :mode %>
        <%= form.select :mode, options_for_select(Manual::MODES, @manual.mode), {}, { id: :manual_mode, class: "form-control input-lg" } %>
        <%= error_messages_for(@manual, :mode) %>
      </div>

      <div class="form-group">
        <%= form.label :carrier %>
        <%= form.text_field :carrier, id: :manual_carrier, class: "form-control input-lg" %>
        <%= error_messages_for(@manual, :carrier) %>
      </div>

      <div class="form-group">
        <%= form.label :make %>
        <%= form.text_field :make, id: :manual_make, class: "form-control input-lg" %>
        <%= error_messages_for(@manual, :make) %>
      </div>

      <div class="form-group">
        <%= form.label :model %>
        <%= form.text_field :model, id: :manual_model, class: "form-control input-lg" %>
        <%= error_messages_for(@manual, :model) %>
      </div>

      <div class="form-group">
        <%= form.label :revision %>
        <%= form.text_field :revision, id: :manual_revision, class: "form-control input-lg" %>
      </div>

      <div class="form-group">
        <%= form.label :notes %>
        <%= form.text_area :notes, id: :manual_notes, class: "form-control input-lg" %>
      </div>

      <div class="form-group">
        <%= form.label :photo %>

        <% if @manual.photo.present? %>
          <%= image_tag(@manual.photo.url(:medium), class: "img-responsive") %>
        <% end %>

        <%= form.file_field :photo, id: :manual_photo, class: "form-control input-lg" %>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-info btn-lg">SAVE</button>
      </div>
    <% end %>

    <% unless action_name == "new" %>
      <hr/>
      <%= button_to 'DELETE', manual_path(@manual), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger" %>
    <% end %>
  </div>
</div>
