<div id="index">
  <div class="container">
    <div class="flex-container">
      <% @manuals.each do |manual| %>
        <div class="flex-item">
          <%= link_to manual do %>
            <h2><%= manual.carrier %></h2>
            <p class="make_and_model"><%= manual.make %> <%= manual.model %></p>
          <% end %>

          <%= image_tag(manual.photo.url(:small), class: "img-responsive") %>

          <p class="meta">
            <%= manual.created_at.strftime("%B %-d, %Y") %> /
            <%= link_to "Edit", edit_manual_path(manual) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
