<div class="container">
  <div class="flex-container">
    <% @manuals.each do |manual| %>
      <div class="flex-item">
        <%= link_to manual do %>
          <h3><%= manual.carrier %></h3>
          <p><%= manual.make %> <%= manual.model %></p>
          <%= image_tag(manual.photo.url(:small), class: "img-responsive") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
