<p id="notice"><%= notice %></p>

<p>
  <strong>carrier:</strong>
  <%= @manual.carrier %>
</p>

<p>
  <strong>Vessel make:</strong>
  <%= @manual.make %>
</p>

<p>
  <strong>Vessel model:</strong>
  <%= @manual.model %>
</p>

<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', manuals_path %>
