<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= "#{@manual.title} - " if @manual %>Safety Manuals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="header">
      <h1><%= link_to "SAFETY MANUALS", root_path %></h1>
      <p><%= link_to "FILTERS", "#", class: "js-toggle-filter" %> • <%= link_to "MASTER LIST", list_manuals_path %></p>
    </div>

    <%= yield %>

    <div id="footer">
      <p>Created by: <%= link_to "Eli Duke", "https://eliduke.com", target: "_blank" %> | <%= link_to "Admin", admin_manuals_path %></p>
    </div>
  </body>
</html>
