<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="fb:admins" content="elimduke" />
    <meta property="og:type" content="<%= @manual.present? ? "article" : "website" %>" />
    <meta property="og:title" content="<%= @title %> : Safety Manuals" />
    <meta property="og:site_name" content="Safety Manuals"/>
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= @manual.present? ? @manual.photo.url(:large) : "http://safetymanuals.s3.amazonaws.com/furby.png" %>" />
    <meta property="og:description" name="description" content="Safety Manuals are such a funny design exercise, and, if you look close enough, there are all kinds of hilarious little gems buried in them." />

    <title><%= @title %> : Safety Manuals</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="header">
      <h1><%= link_to "SAFETY MANUALS", root_path %></h1>
      <p>
        <%= link_to "HOME", manuals_path %> •
        <%= link_to "ABOUT", about_path %> •
        <%= link_to "NEW", new_manual_path %>
      </p>
    </div>

    <%= render partial: "manuals/filters" if action_name.in?(["index", "list"]) %>

    <% if notice %>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
